<div class="sorting">
  {{#each option in options}}
    {{#link-to 'run-sessions-sorting' option.slug class=option.className~}}
      <span {{bind-attr class=':order :ion-arrow-down-b option.isAscending:reverse'}}></span>
      {{~option.label~}}
    {{/link-to}}
  {{/each}}
</div>

{{outlet}}
